.image-text-container {
    margin: 0 auto;

    h1 {
        .h();
        .s-md();
        .w-b();
        margin-bottom: @1x;
    }

    h2 {
        .h();
        .s-md();
        margin-bottom: @1x;
    }

    h3 {
        .h();
        .s-sm();
        margin-bottom: @1x;
    }

    p {
        .s-sm();
    }
    a {
        .link-sky();
        &::after {
            padding-left: @05x;
            vertical-align: top;
            content: url('/site/themes/precursive/img/icons/link-arrow.svg');
        }
    }
}