.openshare {
    transition:.3s;
    display:block;
    margin:0 auto @space;
    text-align:center;
    line-height:1;
    color:@grey2;
    text-decoration:none;
    font-size:60px;
    position:relative;
    .count {
        transition:transform .3s ease-in-out;
        transform:translate(-50%, 20px);
        .position(absolute, -50px, auto, auto, 50%);
        background:@jade;
        padding:9px @space;
        .s-md();
        pointer-events:none;
        color:#fff;
        border-radius:@radius;
        line-height:1;
        opacity:0;
        &:after {
            transform:translateX(-50%);
            content:'';
            display:block;
            width:0;
            height:0;
            border-left:7px solid transparent;
            border-right:7px solid transparent;
            border-top:10px solid @jade;
            position:absolute;
            bottom:-9px;
            left:50%;
        }
    }
    &:hover .count {
        opacity:1;
        transform:translate(-50%, 0);
    }
}
