<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Another awesome Statamic site">
    <title>{{ title ensure_right=" — " }}{{ site_name }}</title>
    <link rel="stylesheet" href="{{ theme:css }}">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:700|Source+Sans+Pro:400,600,700" rel="stylesheet">
</head>

<body class="section-{{ segment_1 or "home" }}">
    {{ template_content }}

    <footer class="container">
        <div class="row mt-4x mb-4x">
            <div class="col-sm-4">
                <p>{{ site_name }}</p>
                <p><a href="mailto:{{ site_email | obfuscate_email }}" class="link-grey2" target="_blank">{{ site_email | obfuscate_email }}</a></p>
                <p>{{ site_phone }}</p>
            </div>
            <div class="col-sm-2">Things</div>
            <div class="col-sm-2">
                {{ nav from="/" include_home="true" scope="tag" }}
                    <p><a class="link-grey2" href="{{ url }}">{{ tag:nav_title or title }}</a></p>
                {{ /nav }}
            </div>
            <div class="col-sm-2">
                <p><a href="{{ support_link ]}}" class="link-grey2">Support</a></p>
            </div>
            <div class="col-sm-2">
                <p><a href="{{ login_link }}" class="link-grey2">Sign In</a></p>
            </div>
        </div>
    </footer>
    <script src="{{ theme:js }}"></script>
</body>
</html>
