<div class="container">
    <div class="row">

        {{ replicator_grid }}
        <div class="text-container col-xs-12">
            {{ text | markdown }}
        </div>

        <div class="form-container col-xs-12">
            <form id="formEvent" action="{{ form_action_url }}" method="POST">

                <input id="formEventFilter" type="hidden" name="Lead Source" value="{{ filter_name }}">

                <div class="col-xs-12 col-sm-4  col-md-4 mb-1x">
                    <input id="formEventName" type="text" class="form-input form-input-events" placeholder="Enter your Name" maxlength="80"
                           name="name" validate="">
                </div>

                <div class="col-xs-12 col-sm-4  col-md-4 mb-1x">
                    <input id="formEventEmail" type="email" class="form-input form-input-events" placeholder="Enter your Email" maxlength="80"
                           name="email" validate="">
                </div>
                <div class="col-xs-12 col-sm-4  col-md-4 mb-1x">
                    <input id="formEventCompany" type="text" class="form-input form-input-events" placeholder="Enter your Company" maxlength="80"
                           name="company" validate="">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <button class="btn-white btn-large btn-fit" type="submit">Book your session</button>
                </div>
            </form>
            <div class="submit-message-container col-xs-12">
                <h1>{{ submit_success_message }}</h1>
            </div>
        </div>


        {{ /replicator_grid }}

    </div>
</div>




