<div class="container text-form-container">
    <div class="row">

        {{ replicator_grid }}
        <div class="text-container col-xs-12 col-sm-6">

            <div class="logo-container">
                <a href="/" class="logo">{{ site_name }}</a>
            </div>

            {{ text | markdown }}
        </div>


        <div class="form-container col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-2">

            <div class="form-submitted col-xs-12 col-sm-12">
                <div class="tickIcon">
                </div>

                <div class="text-center submit-message-container mt-1x">
                    <h1>{{ submit_success_message }}</h1>
                </div>
            </div>

            <div class="form-no-submitted col-xs-12 col-sm-12">

                <h1 class="form-title text-center">{{ form_title }}</h1>
                
                <div class="event-form">
                    <form id="formEvent" action="{{ form_action_url }}" method="POST">

                        <input id="formEventFilter" type="hidden" name="Lead Source" value="{{ filter_name }}">

                        <div class="mb-1x">
                            <input id="formEventName" type="text" class="form-input form-input-events"
                                   placeholder="Enter your Name" maxlength="80"
                                   name="name" required="required">
                        </div>

                        <div class="mb-1x">
                            <input id="formEventEmail" type="email" class="form-input form-input-events"
                                   placeholder="Enter your Email" maxlength="80"
                                   name="email" required="required">
                        </div>
                        <div class="mb-1x">
                            <input id="formEventCompany" type="text" class="form-input form-input-events"
                                   placeholder="Enter your Company" maxlength="80"
                                   name="company" required="required">
                        </div>
                        <div>
                            <button class="btn-sky btn-large btn-fit" type="submit">{{text_button_cta}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {{ /replicator_grid }}

    </div>
</div>




