<div class="benefit-container pt-4x pb-4x">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="h s-md w-r">{{section_benefits_greater_title}}</h1>

                <ul class="ticklist">
                    {{ section_benefits_greater_list }}
                    <li>{{ content }}</li>
                    {{ /section_benefits_greater_list }}
                </ul>
            </div>
            <div class="col-sm-6">
                {{ section_benefits_greater_image }}
                <img src="{{ glide:value width='380' fit='crop' }}" class="scale">
                {{ /section_benefits_greater_image }}
            </div>
        </div>
    </div>
</div>
