<form class="row" action="{{ section_hero_greater_form_book_slot }}" method="POST">
    <div class="col-xs-12 col-sm-7  col-md-8 mb-1x">
        <input type="email" class="form-input form-input-events" placeholder="Enter your email" maxlength="80"
               name="email" validate="">
    </div>
    <div class="col-xs-6 col-sm-5 col-md-4">
        <button class="btn-white btn-large" type="submit">Book a meeting</button>
    </div>
    <div class="col-xs-6 col-sm-12 text-right hidden show-m">
        <a target="_blank" href=" {{ sectionhero_greater_get_tickets_URL }}"
           class="btn-white btn-large">Get Tickets</a>
    </div>
</form>
