<div class="container mt-4x mb-4x">
    <div class="row">
        <div class="col-sm-6 ">
            <h1 class="h s-lg w-r c-white">{{ sectionhero_greater_title }}</h1>
            <h2 class="h s-sm w-n mb-4x mb-2x-m c-white">{{ sectionhero_greater_subtitle }}</h2>
            {{ partial:events/form-book-slot}}
        </div>
        <div class="col-md-6">
            <div class="col-xs-12 text-center">
                {{ sectionhero_greater_miniimage }}
                <div class="col-xs-6 col-xs-offset-6">
                    <img src="{{ glide:value width='400' height='250' fit='crop' }}" class="scale mb-1x">
                </div>
                {{ /sectionhero_greater_miniimage }}
            </div>

            <div class="col-xs-5 col-sm-4 col-xs-offset-7">
                <a href=" {{ sectionhero_greater_get_tickets_URL }}"
                   class="btn-white btn-fit ">Get Tickets</a>
            </div>
        </div>
    </div>
</div>