<div class="masterhead-container container mt-4x mb-4x">
    <div class="row">

        <div class="col-xs-12 col-sm-12 logo-container text-center">
            <a href="/" class="logo">{{ site_name }}</a>
        </div>
        <div class="col-sm-12 col-md-12 text-form-container text-center">
            {{ masthead_replicator }}
            {{ partial src="replicator/event-masthead" }}
            {{ /masthead_replicator }}
        </div>

       <!-- <div class="col-sm-12 col-md-12 text-center">
            {{ partial:events/form-book-slot}}
        </div>-->

        <!--<div class="col-sm-4 col-md-4">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-2 col-lg-8 col-lg-offset-4 mt-1x hidden-m">
                {{ sectionhero_greater_miniimage }}
                    <img src="{{ glide:value width='400' height='250' }}" class="scale mb-1x">
                {{ /sectionhero_greater_miniimage }}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-2 col-lg-8 col-lg-offset-4 text-center hidden-m">

                <a target="_blank" href=" {{ sectionhero_greater_get_tickets_URL }}"
                   class="btn-white btn-large">Get Tickets</a>
            </div>
        </div>-->
    </div>
</div>