<div class="picks-container">
    <div class="row">
        <div class="col-xs-12 text-center">

            <h1 class="h s-lg w-r c-white">{{section_picks_greater_title}}</h1>
            <h4 class="h w-r c-white">{{section_picks_greater_subtitle}}</h4>
        </div>

        <div class="pick-item-container col-xs-12">

            <div class="col-xs-4">
                {{ section_picks_greater_image }}
                <div class="col-xs-8 col-xs-offset-2">
                    <img src="{{ glide:value width='100' fit='crop' }}" class="scale">
                </div>
                {{ /section_picks_greater_image }}

            </div>

            <div class="col-xs-8">
                {{ section_picks_greater_description | markdown }}
            </div>
        </div>
    </div>
</div>