<div class="brand-grad pt-4x pb-4x">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1 class="h s-lg w-r mb-0 c-white">  {{section_picks_greater_title}}</h1>
                <h4 class="h w-r c-white mb-2x mt-2x">{{section_picks_greater_subtitle}}</h4>
            </div>
        </div>
        <section class="island-big">
            <div class="row">
                <div class="col-xs-12 col-sm-4 pick-item-container">
                    {{ section_picks_greater_image }}
                    <div class="col-xs-8 col-xs-offset-2">
                        <img src="{{ glide:value }}" class="scale">
                    </div>
                    {{ /section_picks_greater_image }}
                </div>
                <div class="col-xs-12 col-sm-8 mt-1x">
                    {{ section_picks_greater_description | markdown }}
                </div>
            </div>
        </section>
    </div>
</div>