<div class="event-container pt-4x pb-4x">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                {{ section_event_greater_text | markdown }}
            </div>
            <div class="col-sm-6">
                {{ section_event_greater_event_image }}
                    <img src="{{ glide:value width='380' fit='crop' }}" class="scale mb-1x">
                {{ /section_event_greater_event_image }}
            </div>
        </div>
    </div>
</div>


