//----------------------------------------------------------------------------//
// Colors
//----------------------------------------------------------------------------//


@grey1:      #F8F7FC;
@grey2:      #b5b5b5;
@grey3:      #343A4A;
@jade:       #00C9B5;
@royal:      #136EB5;
@sky:        #00A1E0;
@sky-clear:  #E5F5FB;
@flamingo:   #FF33D3;

//----------------------------------------------------------------------------//
// Scaffolding
//----------------------------------------------------------------------------//

@space:                        18px;
@angleheight:                  8vw;

@mobile:                       768px;
@tablet:                       992px;
@desktop:                      1200px;

@container-sm:                 ((720px + @grid-gutter-width));
@container-md:                 ((940px + @grid-gutter-width));
@container-lg:                 ((1140px + @grid-gutter-width));

@grid-columns:                 12;
@grid-gutter-width:            30px;

@grid-float-breakpoint:        @mobile;
@grid-float-breakpoint-max:    (@grid-float-breakpoint - 1);

.container {
    .container-fixed();
    @media (min-width: @mobile)  { width: @container-sm; }
    @media (min-width: @tablet)  { width: @container-md; }
    @media (min-width: @desktop) { width: @container-lg; }
}
