<div class="masthead">
    <div class="masthead-bg blog-index"></div>
    <div class="masthead-content">
        {{ partial:nav }}
        <div class="text-center mt-4x mb-4x">
            <h1 class="h s-xl w-n">{{ title }}</h1>
            <h2 class="h s-md w-r">{{ subtitle }}</h2>
        </div>
    </div>
</div>


<section class="container mt-4x">
    <div class="row">
        {{ collection:blog paginate="true" as="posts" limit="4" }}
            {{ posts }}
                <div class="col-sm-4">
                    <article class="post">
                        {{ if index == 1 }}
                            <div class="label bg-jade">Most Recent</div>
                        {{ elseif most_read }}
                            <div class="label bg-flamingo">Most Read</div>
                        {{ /if }}

                        <a href="{{ url }}" class="text-center">
                            {{ if intro_image }}
                                <img src="{{ glide:intro_image width='400' height='200' }}" class="scale mb-1x">
                            {{ /if }}

                            <h1 class="h s-sm w-r caps c-jade">{{ title }}</h1>

                            <h2 class="h s-sm w-r caps c-jade">{{ subtitle }}</h2>

                            <div class="c-grey2">
                                {{ if (date | days_ago) < 21 }}
                                {{ date | relative }}
                                {{ elseif (date | format:Y) == now | format:Y }}
                                {{ date format="M j" }}
                                {{ else }}
                                {{ date format="M j, Y" }}
                                {{ /if }}
                            </div>
                        </a>
                    </article>
                </div>
            {{ /posts }}

            {{ partial:pagination }}
        {{ /collection:blog }}
    </div>
</section>
