<div class="masthead">
    {{ asset:hero_image }}
    <div class="masthead-bg" style="background-image:url({{ glide:url width="1440" height="500" }});">
    </div>
    {{ /asset:hero_image }}
    <div class="masthead-content">
        {{ partial:nav }}
        <div class="container mt-4x mb-4x text-center">
            <h1 class="h s-xl w-r mb-05x">{{ title }}</h1>
            <h1 class="h s-md w-n mb-3x">{{ subtitle }}</h1>
            <span>
                Posted
                {{ if (date | days_ago) < 21 }}
                {{ date | relative }}
                {{ elseif (date | format:Y) == now | format:Y }}
                {{ date format="M j" }}
                {{ else }}
                {{ date format="M j, Y" }}
                {{ /if }}
                by
                {{ relate:author }}
                    {{ name }}
                {{ /relate:author }}
            </span>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-sm-8 col-sm-offset-2 mt-4x mb-4x">
        {{ replicator_content }}
            {{ partial src="replicator/{type}" }}
        {{ /replicator_content }}

        {{ relate:author }}
            <h6 class="h s-md w-b">{{ name }}, {{ role }}</h6>
             - {{ content }}
            {{ asset:avatar }}
            <img src="{{ glide:url width="300" height="300" }}" alt="{{ name }}">
            {{ /asset:avatar }}
        {{ /relate:author }}
    </div>
</div>

<div class="container">
    {{ if comments }}
        <div class="mb-4x">
            {{ disqus:comments id="{ id }" }}
        </div>
    {{ /if }}
</div>


{{ partial:form-demo image=assets:demo_form_image }}
<!-- <section class="regular">
	<header>
		<div class="meta clearfix">
			<div class="author">
				<div class="pull-left">
					<a href="" class="name">{{ author_name }}</a>
					<span class="length">{{ content | read_time }} minute read</span>
				</div>
			</div>
			<div class="date">
				{{ date format="F j, Y" }}
			</div>
		</div>
		<h1>{{ title }}</h1>
		{{ sub_title wrap="h2" }}
	</header>

	<article class="content">

		{{ if intro_image }}
			<p><img src="{{ intro_image | url }}" class="intro-image"></p>
		{{ /if }}

		{{ content }}

		{{ relate:tags as="tags" }}
            <ul class="tags">
			{{ tags }}
				<li><a href="{{ url }}">{{ title }}</a></li>
			{{ /tags }}
            </ul>
		{{ /relate:tags }}

		{{ if comments }}
		comments enabled!
		{{ else }}
		comments disabled!
		{{ /if }}
	</article>

</section>

{{ partial:article-footer }} -->
