<div class="masthead">
    {{ asset:hero_image }}
    <div class="masthead-bg" style="background-image:url({{ glide:url width="1440" height="500" }});">
    </div>
    {{ /asset:hero_image }}
    <div class="masthead-content">
        {{ partial:nav }}
        <div class="container mt-4x mb-4x text-center">
            <h1 class="h s-xl w-r mb-05x">{{ title }}</h1>
            <h1 class="h s-md w-n mb-3x">{{ subtitle }}</h1>
            <span>
                Posted
                {{ if (date | days_ago) < 21 }}
                {{ date | relative }}
                {{ elseif (date | format:Y) == now | format:Y }}
                {{ date format="M j" }}
                {{ else }}
                {{ date format="M j, Y" }}
                {{ /if }}
                by
                {{ relate:author }}
                    {{ name }}
                {{ /relate:author }}
            </span>
        </div>
    </div>
</div>

<div class="container mt-4x mb-4x">
    <div class="row">
        <div class="col-sm-2">
            <a class="openshare" href="#"
                data-open-share="facebook"
                data-open-share-link="{{ current_url }}"
                data-open-share-picture="{{ glide:intro_image width='600' height='300' }}"
                data-open-share-caption="{{ site_name }}"
                data-open-share-description="{{ title }}">

                <span class="icon-facebook"></span>
                <span class="count"
                    data-open-share-count="facebook"
                    data-open-share-count-url="{{ current_url }}">
                </span>
            </a>

            <a class="openshare" href="#"
                data-open-share="google"
                data-open-share-url="{{ current_url }}">

                <span class="icon-googleplus"></span>
                <span class="count"
                    data-open-share-count="google"
                    data-open-share-count-url="{{ current_url }}">
                </span>
            </a>

            <a class="openshare" href="#"
                data-open-share="linkedin"
                data-open-share-url="{{ current_url }}"
                data-open-share-media="{{ glide:intro_image width='600' height='300' }}"
                data-open-share-title="{{ site_name }} — {{ title }}">

                <span class="icon-linkedin"></span>
                <span class="count"
                    data-open-share-count="linkedin"
                    data-open-share-count-url="{{ current_url }}">
                </span>
            </a>

            <a class="openshare" href="#"
                data-open-share="twitter"
                data-open-share-url="{{ current_url }}"
                data-open-share-via="precursive"
                data-open-share-text="{{ site_name }} — {{ title }}">

                <span class="icon-twitter"></span>
                <span class="count"
                    data-open-share-count="twitter"
                    data-open-share-count-url="{{ current_url }}"
                    data-open-share-key="dstweets">
                </span>
            </a>
        </div>
        <div class="col-sm-8">
            {{ replicator_content }}
            {{ partial src="replicator/{type}" }}
            {{ /replicator_content }}

            {{ relate:author }}
            <div class="author">
                {{ asset:avatar }}
                <img src="{{ glide:url width="200" height="200" }}" alt="{{ name }}">
                {{ /asset:avatar }}
                <div class="body">
                    <h6 class="h s-md w-b">{{ name }}, {{ role }}</h6>
                    {{ content | markdown }}
                </div>
            </div>
            {{ /relate:author }}
        </div>
    </div>
</div>

<div class="container">
    {{ if comments }}
        <div class="mb-4x">
            {{ disqus:comments id="{ id }" }}
        </div>
    {{ /if }}
</div>

{{ partial:form-demo :image="blog_demo_form_image" }}
