<div class="scroll-image-container brand-grad-m">
    <div class="container">
        <section>
          <!--  <div class="text-center mb-3x">
                <h1 class="h s-md w-b c-white-m">{{ benefits_heading }}</h1>
                <p class="c-white-m">{{ benefits_description }}</p>
            </div>-->

            {{ collection:benefits }}
            {{ if index > 1 }}<hr class="hidden-m">{{ /if }}

            <div class="island-m mb-2x-m">
                <article class="row mb-3x mb-0-m">
                    <div class="col-sm-5 col-sm-offset-1 {{ if index % 2 == 0 }}fr{{ /if }}">
                        <h2 class="h s-lg w-n">{{ title }}</h2>
                        <h3 class="h s-sm w-n">{{ subtitle }}</h3>

                        <ul class="ticklist hidden-m">
                            {{ benefits_list }}
                            <li>{{ value }}</li>
                            {{ /benefits_list }}
                        </ul>

                        <a href="/features" class="link-sky hidden-m">
                            More about features
                            <img src="{{ theme:img src="icons/link-arrow.svg" }}" width="22px">
                        </a>
                    </div>
                    <div class="col-sm-5 col-sm-offset-1 {{ if index % 2 == 0 }}fr{{ /if }}">
                        {{ assets:image }}
                        <img src="{{ glide:id width="500" }}" alt="{{ subtitle }}" title="{{ title }}" class="scale css-animation scroll-image">
                        {{ /assets:image }}

                        <div class="text-center hidden show-m mt-1x">
                            <a href="/features" class="btn-sky btn-inverse">
                                More about features
                                <img src="{{ theme:img src="icons/link-arrow.svg" }}" width="22px">
                            </a>
                        </div>
                    </div>
                </article>
            </div>
            {{ /collection:benefits }}
        </section>
    </div>
</div>