<div class="brand-grad pt-4x pb-4x">
    <div class="container appexchange-container">
        <section class="island">
            <div class="row">
                <div class="col-sm-6">
                    <div class="pt-1x pl-1x appexchange-m">
                        {{ text | markdown}}
                        <!--<h1 class="h s-md w-n">
                            <b>{{ appexchange_heading }}</b>
                            <br>{{ appexchange_subheading }}
                        </h1>
                        <p>{{ appexchange_description }}</p>-->
                        <a href="{{ appexchange_link }}" target="_blank">
                            <img src="{{ theme:img src='/logos/appexchange.svg' }}" width="200" class="appexchange-logo-m">
                        </a>
                    </div>
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <img src="{{ theme:img src='/misc/appexchange.png' }}" class="scale hidden-m">
                </div>
            </div>
        </section>
    </div>
</div>