<div class="image-text-container pt-2x pb-2x" style="background-color: {{ background_color }}">

  {{ if distribution == 1 }}
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-md-4 col-xs-offset-0 col-sm-offset-1 col-md-offset-2">
      {{ asset:image }}
        <img src="{{ glide:url }}" class="scale" alt="{{ caption }}">
      {{ /asset:image }}
    </div>

    <div class="col-xs-12 col-sm-6">
      {{ text | markdown }}
    </div>
  </div>
  {{ /if }}

  {{ if distribution == 2 }}
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-md-4 col-xs-offset-0 col-sm-offset-1 col-md-offset-2">
      {{ text | markdown }}
    </div>
    <div class="col-xs-12 col-sm-5 col-md-4">
      {{ asset:image }}
      <img src="{{ glide:url }}" class="scale" alt="{{ caption }}">
      {{ /asset:image }}
    </div>
  </div>
  {{ /if }}

</div>