<div class="bg-grey1 pt-4x pb-4x">
    <div class="container">
        <section class="island shadow text-center">
            <h1 class="h s-md w-b">{{ salesforce_heading }}</h1>

            <div class="connection css-animation">
                <div class="part one"></div>
                <div class="part two"></div>
                <div class="synergy"></div>
            </div>

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <p>{{ salesforce_description }}</p>
                </div>
            </div>
        </section>
    </div>
</div>