<section class="brand-grad pt-4x pb-4x">

  <h1> Hola </h1>
  <!--<div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1 class="h s-lg w-r mb-0 c-white"> {{ top_picks_title }}</h1>
        <h4 class="h w-r c-white mb-2x mt-2x">{{ top_picks_subtitle }}</h4>
      </div>
    </div>


    <div class="top-picks-carousel js-top-picks-carousel">
      {{ top_picks_grid }}

      <div class="carousel-cell">
        <div class="island-big pick-item-container mb-3x">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              {{ image }}
              <div class="col-xs-8 col-xs-offset-2">
                <img src="{{ glide:value }}" class="scale">
              </div>
              {{ /image}}
            </div>
            <div class="col-xs-12 col-sm-8 mt-1x">
              {{ text | markdown }}
            </div>
          </div>
        </div>
      </div>

      {{ /top_picks_grid }}
    </div>
  </div>-->
</section>
