<div class="masthead">
    {{ asset:masthead }}
    <div class="masthead-bg" style="background-image:url({{ glide:url width="1440" height="500" }});">
    </div>
    {{ /asset:masthead }}
    <div class="masthead-content">
        {{ partial:nav }}
        <div class="container mt-4x mb-4x text-center">
            <h1 class="h s-xl w-r mb-05x">{{ page_heading }}</h1>
            <h1 class="h s-md w-n mb-3x">{{ page_subheading }}</h1>
            <a href="#" class="btn-white btn-large mb-05x">Book a demo</a>
            <a href="{{ appexchange_link }}" class="btn-white btn-large has-image" target="_blank">
                <img src="{{ theme:img src='/logos/salesforce-blue.svg' }}" alt="Salesforce logo">
                View on app exchange
            </a>
        </div>
    </div>
</div>

{{ collection:features limit="2" }}
    {{ partial:feature }}
{{ /collection:features }}

{{ partial:form-demo image=assets:demo_form_image }}

{{ collection:features offset="2" }}
    {{ partial:feature }}
{{ /collection:features }}
