<div class="masthead">
    <div class="masthead-bg">
        <video autoplay loop webkit-playsinline playsinline>
            <source src="{{ theme:asset src="vid/home-masthead.mp4" }}" type="video/mp4">
            <source src="{{ theme:asset src="vid/home-masthead.webm" }}" type="video/webm">
        </video>
    </div>
    <div class="masthead-content">
        {{ partial:nav }}
        <div class="container md">
            <div class="row mt-6x pb-4x mb-angle">
                <div class="col-sm-6">
                    <h1 class="h s-xl w-n">{{ page_heading }}</h1>
                    <h1 class="h s-md w-n">{{ page_subheading }}</h1>
                    <a href="#" class="btn-white btn-large">Book a demo</a>
                    <a href="{{ appexchange_link }}" class="btn-white btn-large has-image" target="_blank">
                        <img src="{{ theme:img src='/logos/salesforce-blue.svg' }}" alt="Salesforce logo">
                        View on app exchange
                    </a>
                </div>
                <div class="col-sm-6">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="angle c-grey1"></div>

<div class="bg-grey1 cf">
    <div class="container md">
        <h1 class="h s-lg w-n text-center mt-4x mb-2x">Customers of all sizes succeed with Precursive</h1>
    </div>
    <div class="customer-carousel js-customer-carousel">
        {{ collection:customer }}
        {{ asset:logo }}
        <div class="carousel-cell">
            <img src="{{ glide:url width="150" height="60" }}" alt="logo for {{ title }}" title="{{ title }}">
        </div>
        {{ /asset:logo }}
        {{ /collection:customer }}
    </div>
</div>


<div class="brand-grad pt-4x pb-4x">
    <div class="container md">
        <section class="island">
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="h s-md w-n">
                        <b>Available on the Salesforce AppExchange®</b>
                        <br>Precursive is Native to Salesforce
                    </h1>
                    <p>Find out why Precursive is the #1 app on Salesforce AppExchange® for resource scheduling, project planning and timesheets.</p>
                </div>
                <div class="col-sm-4">

                </div>
            </div>
        </section>
    </div>
</div>

<div class="bg-grey1 pt-4x pb-4x">
    <div class="container md">
        <section class="island shadow text-center">
            <h1 class="h s-md w-b">Connecting Sales and Delivery</h1>

            <div class="connection css-animation">
                <div class="part one"></div>
                <div class="part two"></div>
                <div class="synergy"></div>
            </div>

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <p>Workflow Automation. Align sales activities with delivery resources, manage people and projects more effectively and create an effortless customer experience.</p>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="pt-4x pb-4x benefits-container">
    <div class="container md">
        <section>
            <div class="text-center mb-3x">
                <h1 class="h s-md w-b">Helping Your Business Succeed</h1>
                <p>Maximise the performance and profitability of your people</p>
            </div>

            {{ collection:benefits }}
                {{ if index > 1 }}<hr>{{ /if }}

                <article class="row mb-3x">
                    <div class="col-sm-5 col-sm-offset-1 {{ if index % 2 == 0 }}fr{{ /if }}">
                        <h2 class="h s-lg w-n">{{ title }}</h2>
                        <h3 class="h s-sm w-n">{{ subtitle }}</h3>

                        <ul class="ticklist">
                            {{ benefits_list }}
                                <li>{{ value }}</li>
                            {{ /benefits_list }}
                        </ul>

                        <a href="/features" class="link-sky">More about features</a>
                    </div>
                    <div class="col-sm-5 col-sm-offset-1 {{ if index % 2 == 0 }}fr{{ /if }}">
                        {{ assets:image }}
                            <img src="{{ glide:id width="500" }}" alt="{{ subtitle }}" title="{{ title }}" class="scale css-animation benefits-image">
                        {{ /assets:image }}
                    </div>
                </article>
            {{ /collection:benefits }}
        </section>
    </div>
</div>

<div class="home-demo-form pt-4x pb-4x" style="background-image:url({{ asset:demo_form_image }}{{ glide:url width="500" }}{{ /asset:demo_form_image }});">
    <div class="bg brand-grad-trans"></div>
    <div class="container md">
        <section class="row">
            <div class="col-sm-6 col-sm-offset-6">
                <h1 class="h s-lg w-r c-white">Wave goodbye to spending your weekend working in spreadsheets</h1>
                <h2 class="h s-sm w-n mb-4x c-white">Get in touch to find out how much time you could save</h2>
                <div class="row-sm">
                    <div class="col-xs-8">
                        <input type="email" class="form-input" placeholder="Enter your email" validate>
                    </div>
                    <div class="col-xs-4">
                        <button class="btn-white btn-fit">Book a demo</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{{ partial:casestudy-carousel }}

{{ partial:casestudy-promoted }}

<!-- <section class="regular">

    <h1 class="special centered">
        <small>The Statamic</small>
        Redwood Theme
    </h1>

	<article class="list">
		{{ collection:blog limit="3" }}
			{{ partial:block }}
		{{ /collection:blog }}
	</article>

    <div class="read-more">
        <a href="{{ link to='blog' }}">Read the rest of the blog</a>
    </div>

</section> -->
