<div class="masthead">
    <div class="masthead-bg">
        <video autoplay loop webkit-playsinline playsinline>
            <source src="{{ theme:asset src="vid/home-masthead.mp4" }}" type="video/mp4">
            <source src="{{ theme:asset src="vid/home-masthead.webm" }}" type="video/webm">
        </video>
    </div>
    <div class="masthead-content">
        {{ partial:nav }}
        <div class="container">
            <div class="row mt-6x pb-4x mb-angle">
                <div class="col-sm-6">
                    <h1 class="h s-xl w-n">{{ page_heading }}</h1>
                    <h1 class="h s-md w-n">{{ page_subheading }}</h1>
                    <a href="#" class="btn-white btn-large hidden-m js-toggle-form-modal">Book a demo</a>
                    <a href="{{ appexchange_link }}" class="btn-white btn-large has-image hidden-m" target="_blank">
                        <img src="{{ theme:img src='/logos/salesforce-blue.svg' }}" alt="Salesforce logo">
                        View on app exchange
                    </a>
                </div>
                <div class="col-sm-6">
                    <div class="masthead-video" style="background-image:url({{ asset:masthead_video_placeholder }}{{ glide:url width="500" height="300" }}{{ /asset:masthead_video_placeholder }});">
                        <img src="{{ theme:img src='/icons/play.svg' }}" width="100px" class="play-icon js-play-video">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="angle c-grey1"></div>

<div class="bg-grey1 cf">
    <div class="container">
        <h1 class="h s-lg w-n text-center mt-4x mb-2x">{{ customers_heading }}</h1>
    </div>
    <div class="customer-carousel js-customer-carousel">
        {{ collection:customer }}
        {{ asset:logo }}
        <div class="carousel-cell">
            <img src="{{ glide:url width="150" height="60" }}" alt="logo for {{ title }}" title="{{ title }}">
        </div>
        {{ /asset:logo }}
        {{ /collection:customer }}
    </div>
</div>


<div class="brand-grad pt-4x pb-4x">
    <div class="container">
        <section class="island">
            <div class="row">
                <div class="col-sm-6">
                    <div class="pt-1x pl-1x appexchange-m">
                        <h1 class="h s-md w-n">
                            <b>{{ appexchange_heading }}</b>
                            <br>{{ appexchange_subheading }}
                        </h1>
                        <p>{{ appexchange_description }}</p>
                        <a href="{{ appexchange_link }}">
                            <img src="{{ theme:img src='/logos/appexchange.svg' }}" width="200" class="appexchange-logo-m">
                        </a>
                    </div>
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <img src="{{ theme:img src='/misc/appexchange.png' }}" class="scale hidden-m">
                </div>
            </div>
        </section>
    </div>
</div>

<div class="bg-grey1 pt-4x pb-4x">
    <div class="container">
        <section class="island shadow text-center">
            <h1 class="h s-md w-b">{{ salesforce_heading }}</h1>

            <div class="connection css-animation">
                <div class="part one"></div>
                <div class="part two"></div>
                <div class="synergy"></div>
            </div>

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <p>{{ salesforce_description }}</p>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="pt-4x pb-4x scroll-image-container brand-grad-m">
    <div class="container">
        <section>
            <div class="text-center mb-3x">
                <h1 class="h s-md w-b c-white-m">{{ benefits_heading }}</h1>
                <p class="c-white-m">{{ benefits_description }}</p>
            </div>

            {{ collection:benefits }}
                {{ if index > 1 }}<hr class="hidden-m">{{ /if }}

                <div class="island-m mb-2x-m">
                    <article class="row mb-3x mb-0-m">
                        <div class="col-sm-5 col-sm-offset-1 {{ if index % 2 == 0 }}fr{{ /if }}">
                            <h2 class="h s-lg w-n">{{ title }}</h2>
                            <h3 class="h s-sm w-n">{{ subtitle }}</h3>

                            <ul class="ticklist hidden-m">
                                {{ benefits_list }}
                                <li>{{ value }}</li>
                                {{ /benefits_list }}
                            </ul>

                            <a href="/features" class="link-sky hidden-m">More about features ⇨</a>
                        </div>
                        <div class="col-sm-5 col-sm-offset-1 {{ if index % 2 == 0 }}fr{{ /if }}">
                            {{ assets:image }}
                            <img src="{{ glide:id width="500" }}" alt="{{ subtitle }}" title="{{ title }}" class="scale css-animation scroll-image">
                            {{ /assets:image }}

                            <div class="text-center hidden show-m mt-1x">
                                <a href="/features" class="btn-sky btn-inverse">More about features ⇨</a>
                            </div>
                        </div>
                    </article>
                </div>
            {{ /collection:benefits }}
        </section>
    </div>
</div>

{{ partial:form-demo image=assets:demo_form_image }}

{{ partial:casestudy-carousel }}

{{ partial:casestudy-promoted }}

<div class="js-modal-video modal-video">
    <video controls>
        {{ asset:masthead_video_mp4 }}
        <source src="{{ url }}" type="video/mp4">
        {{ /asset:masthead_video_mp4 }}

        {{ asset:masthead_video_webm }}
        <source src="{{ url }}" type="video/webm">
        {{ /asset:masthead_video_webm }}
    </video>
    <img src="{{ theme:img src='/icons/x.svg' }}" width="50px" class="close-icon js-hide-video">
</div>

{{ partial:form-demo-overlay }}
