<div class="masthead">
    <div class="masthead-bg">
        <video autoplay loop webkit-playsinline playsinline>
            <source src="{{ theme:asset src="vid/home-masthead.mp4" }}" type="video/mp4">
            <source src="{{ theme:asset src="vid/home-masthead.webm" }}" type="video/webm">
        </video>    
    </div>
    <div class="masthead-content">
        {{ partial:nav }}
    </div>
</div>

{{ collection:customer }}
    {{ assets:logo }}
        <img src="{{ glide:id width="200" }}" alt="logo for {{ title }}" title="{{ title }}">
    {{ /assets:logo }}
{{ /collection:customer }}

<!-- <section class="regular">

    <h1 class="special centered">
        <small>The Statamic</small>
        Redwood Theme
    </h1>

	<article class="list">
		{{ collection:blog limit="3" }}
			{{ partial:block }}
		{{ /collection:blog }}
	</article>

    <div class="read-more">
        <a href="{{ link to='blog' }}">Read the rest of the blog</a>
    </div>

</section> -->
