<section class="case-studies-header">
    {{ case_studies_header }}
    <div class="row pt-4x pb-4x pb-0-m">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
            <h1 class="h s-lg w-m">{{ case_studies_title }} </h1>
            <hr>
            <h2 class="h s-sm w-n mb-2x">{{ case_studies_subtitle }} </h2>
        </div>
    </div>
    {{ /case_studies_header }}

    <div class="casestudy-carousel js-casestudy-carousel">
        {{ partial:casestudy-carousel }}
    </div>
</section>
