<article class="pt-4x pb-4x {{ if index % 2 == 0 }}bg-grey1{{ /if }} scroll-image-container">
    <div class="container">
        <div class="text-center row">
            <div class="col-sm-8 col-sm-offset-2">
                {{ assets:icon }}
                {{ svg_output id="{id}" class="class-name" }}
                {{ /assets:icon }}
                <h2 class="h s-md w-n">{{ title }}</h2>
                <h3 class="h s-sm w-n">{{ description | widont }}</h3>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1 {{ if index % 2 == 0 }}fr{{ /if }}">
                <h2 class="h s-md w-n">{{ subtitle }}</h2>
                <h3 class="h s-sm w-n">{{ secondarydescription }}</h3>
                <ul class="ticklist">
                    {{ feature_list }}
                        <li>{{ value }}</li>
                    {{ /feature_list }}
                </ul>
            </div>
            <div class="col-sm-5 col-sm-offset-1 {{ if index % 2 == 0 }}fr{{ /if }}">
                {{ assets:image }}
                <img src="{{ glide:url width="800" }}" alt="{{ title }}" title="{{ title }}" class="scale css-animation scroll-image">
                {{ /assets:image }}
            </div>
        </div>
    </div>
</article>
