<footer class="page-footer container">
    <div class="row mt-4x mb-4x">
        <div class="col-sm-4">
            <p class="logo">{{ site_name }}</p>
            <p><a href="mailto:{{ site_email | obfuscate_email }}" class="link-grey2" target="_blank">{{ site_email | obfuscate_email }}</a></p>
            <p>{{ site_phone }}</p>
        </div>
        <div class="col-sm-8">
            <div class="row">
                {{ nav from="/" include_home="true" is_hidden:isnt_set="true" }}
                <p class="col-sm-4"><a class="link-grey2" href="{{ url }}">{{ tag:nav_title or title }}</a></p>
                {{ /nav }}

                <p class="col-sm-4"><a href="{{ support_link ]}}" class="link-grey2">Support</a></p>
                <p class="col-sm-4"><a href="{{ login_link }}" class="link-grey2">Sign In</a></p>
            </div>
        </div>
    </div>
</footer>
