<div class="form-modal js-form-modal">
    <div class="form-modal-inner">
        <img src="{{ theme:img src='/logos/precursive-white.svg' }}" width="200px" class="mb-2x">
        <img src="{{ theme:img src='/icons/x.svg' }}" width="32px" class="close-icon js-toggle-form-modal">
        <h1 class="h s-lg w-r c-white">{{ overlay_form_heading }}</h1>
        <h2 class="h s-sm w-n mb-2x c-white">{{ overlay_form_subheading }}</h2>
        <form id="bookDemoModalForm" class="row-sm" action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
            <input type="hidden" name='captcha_settings' value='{"keyname":"precursiveWebsite","fallback":"true","orgId":"00DD0000000DBV2","ts":""}'>
            <input type="hidden" name="oid" value="00DD0000000DBV2">
            <input type="hidden" name="retURL" value="http://precursive.com/demo-success">
            <input type="hidden" id="lead_source" name="lead_source" value="Precursive.com Book a Meeting">

            <div class="col-xs-6 col-sm-6 mb-05x">
                <input type="text" class="form-input" placeholder="Forename" maxlength="40" name="first_name"
                       required>
            </div>
            <div class="col-xs-6 col-sm-6 mb-05x">
                <input type="text" class="form-input" placeholder="Surname" maxlength="80" name="last_name"
                       required>
            </div>

            <div class="col-xs-6 col-sm-6 mb-05x">
                <input type="text" class="form-input" placeholder="Company" maxlength="25" name="company"
                       required>
            </div>
            <div class="col-xs-6 col-sm-6 mb-05x">
                <input type="text" class="form-input" placeholder="Job Title" maxlength="30" name="job_title"
                       required>
            </div>

            <div class="col-xs-7 col-sm-8">
                <input type="email" class="form-input" placeholder="Enter your email" maxlength="80" name="email"
                       required="required" validate>
                <!--<div class="g-recaptcha" data-sitekey="6Ld2yR4UAAAAABOFcKrT2vFvvoI1fIxaAa_PCxzq"></div>-->
            </div>
            <div class="col-xs-5 col-sm-4">
                <button id="bookDemoModalCaptcha" style="display: none;" class="btn-white btn-fit recaptcha-container"
                        data-after-submit="bookDemoModalFormOnSubmit">
                    Book a demo
                </button>

                <button type="submit" class="btn-white btn-fit">Book a demo</button>
            </div>
        </form>
    </div>
</div>
