<form id="bookDemoForm" class="row-sm" action="" method="POST">
    <input type="hidden" name="oid" value="00DD0000000DBV2">
    <input type="hidden" name="retURL" value="http://precursive.com/demo-success">
    <input type="hidden" name="lead_source" value="Precursive.com Book a Meeting">

    <div class="col-xs-7 col-sm-8">
        <input type="email" class="form-input" placeholder="Enter your email" maxlength="80" name="email"
               required="required" validate>
    </div>
    <div class="col-xs-5 col-sm-4">
        <button id="bookDemoCaptcha" style="display: none;" class="btn-white btn-fit recaptcha-container"
                data-after-submit="bookDemoFormOnSubmit">
            Book a demo
        </button>

        <button class="btn-white btn-fit" type="submit">Book a demo</button>
    </div>
</form>
