<div class="form-modal js-form-modal">
    <div class="form-modal-inner">
        <img src="{{ theme:img src='/logos/precursive-white.svg' }}" width="200px" class="mb-2x">
        <img src="{{ theme:img src='/icons/x.svg' }}" width="32px" class="close-icon js-toggle-form-modal">
        <h1 class="h s-lg w-r c-white">Arrange a demo with a member of our team</h1>
        <h2 class="h s-sm w-n mb-2x c-white">Through an initial consultation  you will  understand how we can optimise your resourcing</h2>
        {{ partial:form-demo-inner }}
    </div>
</div>
