<div class="form-demo pt-4x pb-4x" style="background-image:url({{ asset:demo_form_image }}{{ glide:url width="500" }}{{ /asset:demo_form_image }});">
    <div class="bg brand-grad-trans"></div>
    <div class="container">
        <section class="row">
            <div class="col-sm-6 col-sm-offset-6">
                <h1 class="h s-lg w-r c-white">Wave goodbye to spending your weekend working in spreadsheets</h1>
                <h2 class="h s-sm w-n mb-4x c-white">Get in touch to find out how much time you could save</h2>
                <div class="row-sm">
                    <div class="col-xs-7 col-sm-6">
                        <input type="email" class="form-input" placeholder="Enter your email" validate>
                    </div>
                    <div class="col-xs-5 col-sm-4">
                        <button class="btn-white btn-fit">Book a demo</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
