
.masterhead-container {

  .logo-container {

    a.logo{
      background:url('../img/logos/precursive-white.svg') no-repeat center;
      background-size:100% auto;
      text-indent:-9999px;
      display:inline-block;
      width:200px;
      height:126px;
    }
  }

  .text-form-container {

    .text-container {
      h1 {
        .h();
        .s-xl();
        .w-r();
      }

      h2 {
        .h();
        .s-sm();
        .w-r();
      }

      p, h3{
        .h();
        .s-sm();
        color: white;
        margin-bottom: @3x;
      }
    }

    form {
      display: block;

      &.fadeOut {
        transition: all 1s ease-in-out;
        display: none;
      }
    }

    .submit-message-container {
      height: 110px;
      display: none;

      h1 {
        .h();
        .s-md();
        .w-r();
      }

      &.fadeIn {
        transition: all 1s ease-in-out;
        display: block;
      }
    }
  }
}



.event-container {
  background-color: @grey1;

  ul {
    list-style:none;
    margin-bottom: @space;
  }

  h1 {
    .h();
    .s-md();
    .w-r();
  }

  h2 {
    .h();
    .s-sm();
    .w-r();
  }

  p, h3{
    .h();
    .s-sm();

  }
}

.event-picks {

  .pick-item-container {
    h1{
      .w-r();
      color: @sky;
    }
  }

}
